.button {
  height: 1.5*$gutter;
  margin-bottom: $gutter;
  font-family: $body-font-stack;
  border: 1px solid #000;
  border-radius: 4px;
}

.button--red {
  width: 200px;
  max-width: 100%;
  padding: $f14; //todo set pading
  background-color: $color-footerPink;
  border: 0 solid transparent;
  border-radius: 5px;

  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;

}

.button--red:hover {
  color: $color-footerPink;
  background-color: $color-black;
}
