.button {
  
  border: 1px solid black;
  border-radius: 4px;
  height: 1.5*$gutter;
  font-family: $body-font-stack;
  margin-bottom:$gutter;
 
 
}

.button--cart {
  // max-height:$f16;
 
}

.button__red {

}