@import "scss/config";


@mixin title {
  margin-bottom: $gutter;
  font-family: $heading-font-stack;
  font-size: $f36;
}

@mixin price {
  margin-top: $gutter;
  margin-bottom: $halfGutter;
  font-family: $heading-font-stack;
  font-size: $f24;
  font-weight: 700;
}

.button--middle {

}

.product {
  max-width: 1200px;

  &__shippay {
    display:flex;
    flex-direction: column;
    
    
    
    &__field {
      
      display: flex;
      padding-top: $gutter;
      margin-bottom: $gutter;
      justify-content: space-between;
    }
  }

  &__title {
    @include title;
  }
  &__price {
    @include price;
  }

  &__image {
    width: 100%;
    padding-right: $halfGutter;
    padding-left: $halfGutter;
 
  }

  &__row {
    display: flex;
    flex-wrap:wrap;
    margin-right: -$halfGutter;
    margin-bottom: 2*$gutter;
    margin-left: -$halfGutter;
    // @media (min-width: 800px) {}
  }

  &__col {
    width: 100%;
    padding-right: $halfGutter;
    padding-left: $halfGutter;

    &__img {
      @media (min-width: 800px) {
        width: $s4-col;
      }
    }

    &__card {
      padding-right: $halfGutter;
      padding-left: $halfGutter;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media (min-width: 800px) {
        width: $s8-col;
      }
    }

    &__shippay {
      width: $s12-col;
      padding-right: $halfGutter;
      padding-left: $halfGutter;
      @media (min-width: 800px) {
        width: $s6-col;
      }
    }

    
  }
}



  .form {
    // configures the input form on a card
    // uses a flexbox to maintain sizeing
    margin-top: auto;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    align-self: auto;

    .how_many {
      // flexbox containing the input and its lable
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 30%;
      
      input {
        border: 1px solid black;
        border-radius: 5px;
        height: 4em;
        padding: 0 $f14 0 $f14;
      }
    }

  }

  .prod__button {
    // flexbox containing the button
    // makes sure the button is on the bottom
    
    font-size: $f24;
    display: flex;
    width: 33%;
    
  
  
    .button {
      margin-top: auto;
      height: 4em;
      width: 100%;
      background-color: $color-white;
      border: 1px solid black;
      border-radius: 5px;
      
  
  
      transition: color 0.3s ease-in-out;
      transition: background-color 0.3s ease-in-out;
  
    }
  
    button:hover {
      color: $color-black;
      background-color: $color-footerPink;
    }
  
  
    .butt_img {
  
  
      width: 1em;
      height: 1em;
    }
  }

  .products_main__row__column__cards__items {
    //each item on a card
    padding: $halfGutter;
    padding-left: $halfGutter;
    padding-right: $halfGutter;
  }


  