@import "scss/config";

@mixin title {
  margin-bottom: $gutter;
  font-family: $heading-font-stack;
  font-size: $f36;
}

@mixin price {
  margin-top: $gutter;
  margin-bottom: $halfGutter;
  font-family: $heading-font-stack;
  font-size: $f24;
  font-weight: 700;
}

.product {
  &__shippay {
    display: flex;
    flex-direction: column;

    &__field {
      display: flex;
      padding-top: $gutter;
      margin-bottom: $gutter;
      justify-content: space-between;
    }
  }

  &__title {
    margin-top: $gutter;
    @include title;
  }

  &__description {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  &__price {
    @include price;
  }

  &__image {
    width: 100%;
    padding-right: $halfGutter;
    padding-left: $halfGutter;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -$halfGutter;
    margin-bottom: 2*$gutter;
    margin-left: -$halfGutter;

    &__shippay {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__col {
    width: 100%;
    padding-right: $halfGutter;
    padding-left: $halfGutter;

    &__img {
      @media (min-width: 800px) {
        width: $s4-col;
      }
    }

    &__card {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      padding-right: $halfGutter;
      padding-left: $halfGutter;
      flex-direction: column;
      justify-content: space-between;
      @media (min-width: 800px) {
        width: $s8-col;
      }
    }

    &__shippay {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      padding-right: $halfGutter;
      padding-left: $halfGutter;
      @media (min-width: 700px) {
        width: $s6-col;
      }
      @media (min-width: 1000px) {
        width: $s4-col;
      }
    }
  }
}

.buy__button {
  display: flex;
  justify-content: center;
  margin-bottom: 2*$gutter;
}

.form {
  display: flex;
  width: 100%;
  margin-top: auto;
  justify-content: space-between;
}

.how_many__cart {
  display: flex;
  width: 20%;
  flex-direction: column;
  justify-content: space-between;
}

.product__input {
  height: 4em;
  padding: 0 $f14 0 $f14;
  border: 1px solid #000;
  border-radius: 5px;
}

.select {
  height: 4em;
  padding: 0 $f14 0 $halfGutter;
  border: 1px solid #000;
  border-radius: 5px;
}

.button__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: $halfGutter;
  padding-left: $halfGutter;
}

.button__text {
  font-size: $f16;
}

.prod_button {
  display: flex;
  flex-display: wrap;
  width: 33%;
  font-size: $f24;

  .prod_button:hover {
    color: $color-black;
    background-color: $color-footerPink;
  }
}

.products_main__row__column__cards__items {
  padding: $halfGutter;
  padding-right: $halfGutter;
  padding-left: $halfGutter;
}

.button__cart {
  width: $f24;
  height: $f24;
}
