@import "scss/config";

@mixin title {
  margin-bottom: $gutter;
  font-family: $heading-font-stack;
  font-size: $f36;
}

@mixin price {
  margin-top: $gutter;
  margin-bottom: $halfGutter;
  font-family: $heading-font-stack;
  font-size: $f24;
  font-weight: 700;
}

.product {
  &__shippay {
    display: flex;
    flex-direction: column;

    &__field {
      display: flex;
      padding-top: $gutter;
      margin-bottom: $gutter;
      justify-content: space-between;
    }
  }

  &__title {
    margin-top: $gutter;
    @include title;
  }

  &__price {
    @include price;
  }

  &__image {
    width: 100%;
    padding-right: $halfGutter;
    padding-left: $halfGutter;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -$halfGutter;
    margin-bottom: 2*$gutter;
    margin-left: -$halfGutter;

    &__shippay {
      display: flex;
      justify-content: center;
    }
  }

  &__col {
    width: 100%;
    padding-right: $halfGutter;
    padding-left: $halfGutter;

    &__img {
      @media (min-width: 800px) {
        width: $s4-col;
      }
    }

    &__card {
      display: flex;
      padding-right: $halfGutter;
      padding-left: $halfGutter;
      flex-direction: column;
      justify-content: space-between;
      @media (min-width: 800px) {
        width: $s8-col;
      }
    }

    &__shippay {
      width: $s12-col;
      padding-right: $halfGutter;
      padding-left: $halfGutter;
      @media (min-width: 700px) {
        width: $s6-col;
      }
      @media (min-width: 1000px) {
        width: $s4-col;
      }
    }
  }
}

.buy__button {
  display: flex;
  justify-content: center;
  margin-bottom: 2*$gutter;
}

.form {
  display: flex;
  width: 100%;
  margin-top: auto;
  justify-content: space-between;
  align-self: auto;
}

.how_many__cart {
  // flexbox containing the input and its lable
  display: flex;
  width: 25%;
  flex-direction: column;
  justify-content: space-between;
}

input {
  height: 4em;
  padding: 0 $f14 0 $f14;
  border: 1px solid #000;
  border-radius: 5px;
}

.prod__button {
  display: flex;
  width: 33%;
  font-size: $f24;
    
  .button {
      margin-top: auto;
      height: 4em;
      width: 100%;
      background-color: $color-white;
      border: 1px solid #000;
      border-radius: 5px;
      transition: color 0.3s ease-in-out;
      transition: background-color 0.3s ease-in-out;
    }
    

    button:hover {
      color: $color-black;
      background-color: $color-footerPink;
    }
  }

  .products_main__row__column__cards__items {
    //each item on a card
    padding: $halfGutter;
    padding-right: $halfGutter;
    padding-left: $halfGutter;
    
  }
