// TODO stillingar hér

$base : 16px;
$f12: $base * (12 / 16);
$f14: $base * (14 / 16);
$f16: $base * (16 / 16);
$f18: $base * (18 / 16);
$f21: $base * (21 / 16);
$f24: $base * (24 / 16);
$f36: $base * (36 / 16);
$f48: $base * (48 / 16);
$f60: $base * (60 / 16);

$gutter: 20px;
$halfGutter: $gutter/2;
// colSize
$s12-col: 100%;
$s6-col: $s12-col/2;
$s4-col: $s12-col/3;
$s3-col: $s12-col/4;
$s2-col: $s12-col/6;
$s1-col: $s12-col/12;



// color setings
$color-headerGreen: #afb281;
$color-footerPink: #cc9694;
$color-black:#000000;
$color-white:#ffffff;
$color-blue:#cee8ff;
$color-yelow:#fcffd2;

// fonts
$body-font-stack:    'Open Sans', helvetica, arial, sans-serif;
$heading-font-stack:    'Oswald', Verdana, serif;
