@import "scss/config";

//TODO fiddle with spacing / fontsize

footer {
  padding-top: $f16;
  padding-bottom: $f16;
  background-color: $color-footerPink;
}

.footer {
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: $gutter;
  padding-right: $gutter;
  max-width: 1200px;

  @media (min-width: 1200px) {
    padding-left: 0;
    padding-right: 0;
  }

  &__row {
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    flex-wrap: wrap;

    &__column {

      padding-left: 10px;
      padding-right: 10px;
      width: $s6-col;

      display: flex;
      flex-direction: column;
      line-height: 2em;

      @media (min-width: 1000px) {
        width: $s3-col;
      }

      h3 {
        color: $color-black;
      }

      a {
        color: $color-yelow;
        text-decoration: none;
        transition: color 0.3s ease-in-out;
      }

      a:hover {
        color: $color-blue;

      }
    }
  }

  &__copyright {
    margin-top: $f16;
    text-align: center;
  }
}