@import "scss/config";

//TODO fiddle with spacing / fontsize

footer {
  padding-top: $f16;
  padding-bottom: $f16;
  background-color: $color-footerPink;
}

.footer {
  max-width: 1200px;
  padding-top: 1em;
  padding-right: $gutter;
  padding-bottom: 1em;
  padding-left: $gutter;
  margin: 0 auto;

  @media (min-width: 1200px) {
    padding-right: 0;
    padding-left: 0;
  }

  &__row {
    display: flex;
    margin-right: -$halfGutter;
    margin-left: -$halfGutter;
    flex-wrap: wrap;

    font-weight: bold;

    &__column {
      display: flex;
      width: $s6-col;    
      padding-right: $halfGutter;
      padding-left: $halfGutter;
      line-height: 2em;
      flex-direction: column;
      @media (min-width: 1000px) {
        width: $s3-col;
      }

      h3 {
        color: $color-black;
      }

      a {
        color: $color-yelow;
        text-decoration: none;
        transition: color 0.3s ease-in-out;
      }

      a:hover {
        color: $color-blue;

      }
    }
  }

  &__copyright {
    margin-top: $f16;
    text-align: center;
  }
}
