@import "scss/config";

header {
  background-color: $color-headerGreen;
}

.header {
  max-width: 1200px;
  padding-top: 1em;
  padding-right: $gutter;
  padding-bottom: 1em;
  padding-left: $gutter;
  margin: 0 auto;

  @media (min-width: 1200px) {
    padding-right: 0;
    padding-left: 0;
  }

  &__row {
    display: flex;
    justify-content: center;
    margin-right: -$halfGutter;
    margin-left: -$halfGutter;
    flex-direction: column;

    &__title {
      padding-right: $halfGutter;
      padding-left: $halfGutter;
      font-family: $heading-font-stack;
      font-size: $f60;
      text-align: center;
    }

    &__links {
      display: flex;
      padding-right: $halfGutter;
      padding-left: $halfGutter;
      flex-direction: column;

      @media (min-width: 800px) {
        flex-direction: row;
      }

      &__block {
        width: $s12-col;
        padding-bottom: 1rem;
        font-size: $f14;

        @media (min-width: 800px) {
          width: $s3-col;

        }

        @media (min-width: 1000px) {
          width: $s4-col;
        }

        // animation for link color
        a {
          color: $color-black;
          text-decoration: none;
          transition: color 0.3s ease-in-out;
        }

        a:hover {
          color: $color-blue;

        }

        &.hd__spacer {
          //empty spacer for controling postition
        }

        &.hd__pages {
          display: flex;
          font-weight: 1000;
          text-decoration: none;
          flex-direction: row;
          justify-content: space-around;

          @media (max-width: 400px) {
            // dirty litle trico to make sure
            // that the text does not flow
            // of the page under 400px
            text-align: center;
            flex-direction: column;
          }

          @media (min-width: 800px) {
            width: $s6-col;

          }

          @media (min-width: 1000px) {
            width: $s4-col;
          }



          .curentPage {
            text-decoration: underline;
          }
        }

        &.hd__cart {
          display: flex;
          font-weight: 200;
          flex-direction: row;
          justify-content: center;       

          @media (min-width: 800px) {
            justify-content: flex-end;
          }

          img {
            width: 1em;
            width: 1em;
          }

        }

      }
    }
  }

}
