@import "scss/config";

header {
  background-color: $color-headerGreen;
}

.header {
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: $gutter;
  padding-right: $gutter;
  max-width: 1200px;

  @media (min-width: 1200px) {
    padding-left: 0;
    padding-right: 0;
  }

  &__row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -10px;
    margin-right: -10px;

    &__title {
      padding-left: 10px;
      padding-right: 10px;
      font-family: $heading-font-stack;
      text-align: center;
      font-size: $f60;
    }

    &__links {
      padding-left: 10px;
      padding-right: 10px;
      display: flex;
      flex-direction: column;

      @media (min-width: 800px) {
        flex-direction: row;
      }

      &__block {
        width: $s12-col;
        padding-bottom: 1rem;
        font-size: $f24;
        font-weight: 800;

        @media (min-width: 800px) {
          width: $s3-col;

        }

        @media (min-width: 1000px) {
          width: $s4-col;
        }

        // animation for link color
        a {
          color: $color-black;
          text-decoration: none;
          transition: color 0.3s ease-in-out;
        }

        a:hover {
          color: $color-blue;

        }

        &.hd__spacer {
          //empty spacer for controling postition
        }

        &.hd__pages {
          // TODO - cheak on font "stretch"
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          text-decoration: none;
          font-weight: bold;

          @media (max-width: 400px) {
            // dirty litle trico to make sure
            // that the text does not flow
            // of the page under 400px
            flex-direction: column;
            text-align: center;
          }

          @media (min-width: 800px) {
            width: $s6-col;

          }

          @media (min-width: 1000px) {
            width: $s4-col;
          }



          .curentPage {
            text-decoration: underline;
          }
        }

        &.hd__cart {
          display: flex;
          flex-direction: row;
          justify-content: center;

          font-weight: 200;

          @media (min-width: 800px) {
            justify-content: flex-end;
          }

          img {
            width: 1em;
            width: 1em;
          }


        }

      }
    }
  }

}