@import "scss/config";


.index_main {

  // main of products
  // set to 1200px max-width in styles.scss main{}
  &__row {
    //flexbox containing all cards in main
    margin-top: $gutter;
    margin-bottom: $gutter;
    margin-left: -$halfGutter;
    margin-right: -$halfGutter;
    display: flex;
    flex-wrap: wrap;

    &__column {
      //sets the width of each content group

      padding-left: $halfGutter;
      padding-right: $halfGutter;
      width: $s12-col;

      &__content {
      // creates a flexbox for each group
        margin-left: -$halfGutter;
        margin-right: -$halfGutter;
        display: flex;
        flex-wrap: wrap;

        &.cont_rev {
          // makes sure that you can reverse
          //    the order of content
          flex-direction: row-reverse;

          .items_desc {
            @media (min-width: 800px) {
              padding-left: $gutter*2;
            }

          }
        }

        &__items {
          //sets the size of each item
          padding-left: $halfGutter;
          padding-right: $halfGutter;
          width: $s12-col;

          margin-top: $gutter;
          margin-bottom: $gutter;

          &.items_desc {
            align-self: center;
          }

          @media (min-width: 800px) {
            width: $s6-col;
          }

          img {
            max-width: 100%;
          }

          button {
            width: 200px;
            max-width: 100%;
            padding: $f14;
            background-color: $color-footerPink;
            border: 0px solid transparent;
            border-radius: 5px;

            transition: color 0.3s ease-in-out;
            transition: background-color 0.3s ease-in-out;

          }

          button:hover {
            color: $color-footerPink;
            background-color: $color-black;
          }

          p {
            font-size: $f24;
            margin-bottom: $f36;
          }

          h2 {
            font-size: $f36;
            font-weight: bold;
            font-family: $heading-font-stack;
            margin-bottom: $f36;
          }
        }
      }
    }
  }


}