@import "scss/config";

main {
  max-width: 1200px;
}

.products_main {

  &__row {
    margin-left: -$halfGutter;
    margin-right: -$halfGutter;
    display: flex;
    flex-wrap: wrap;


    &__column {
      padding: $gutter;
      padding-left: $halfGutter;
      padding-right: $halfGutter;
      width: $s12-col;
      align-items: stretch;
      //height: 800px;
      //border: 1px solid black;


      @media (min-width: 800px) {
        width: $s6-col;
      }

      @media (min-width: 1000px) {
        width: $s4-col;
      }

      &__content {
        margin-left: -$halfGutter;
        margin-right: -$halfGutter;
        display: flex;
        flex-direction: column;
        
        &__items {
          
          padding: $halfGutter;
          padding-left: $halfGutter;
          padding-right: $halfGutter;
          
          //border: 1px solid green;
          

          &.img {


            img {
              max-width: 100%;
            }

            //border: 1px solid blue;
          }

          &.title {
            font-size: $f36;
            h2{
              
              font-size: $f36;
              font-weight: bold;
              font-family: $heading-font-stack;
            }
            @media (min-width: 800px) {
              height: 2em;
            }
              
          }

          &.descr {
            font-size: $f16;
            @media (min-width: 800px) {
              height: 4em;
            }
            
          }

          &.price {
            font-size: $f24;
            font-weight: bold;
            font-family: $heading-font-stack;
          }

          &.form {
            margin-top: auto;
            display: flex;
            //justify-content: space-between;
            width: 100%;
            align-self: auto;
            //border: 1px solid red;

            .how_many {
              display: flex;
              flex-direction: column;
              width: 60%;
              margin-right: $halfGutter;

              input {
                border: 1px solid black;
                border-radius: 5px;
                //padding: $f14; //todo set pading
                height: $f48;
                padding: 0 $f14 0 $f14;
              }
            }


            .prod_button {
              font-size: $f24;
              display: flex;
              width: 30%;


              button {
                margin-top: auto;
                height: $f48;

                width: 100%;
                background-color: $color-white;
                border: 1px solid black;
                border-radius: 5px;


                transition: color 0.3s ease-in-out;
                transition: background-color 0.3s ease-in-out;

              }

              button:hover {
                color: $color-black;
                background-color: $color-footerPink;
              }

              .butt_img {

                width: 1em;
                height: 1em;
              }
            }


          }
        }
      }
    }
  }


}