@import "scss/config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: $body-font-stack;
  font-size: $f16;

  // TODO fleiri grunn stillingar
}

main {
  margin: 0 auto;
  max-width: 1200;
  padding-left: $gutter;
  padding-right: $gutter;

  @media (min-width: 1200px) {
    padding-left: 0;
    padding-right: 0;
  }
}

// TODO sækja allar sass skrár
@import "scss/header";
@import "scss/footer";
@import "scss/cart";
@import "scss/button";
@import "scss/index";
@import "scss/products";