@import "scss/config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { 
  /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-size: 16px;

  // TODO fleiri grunn stillingar
}
main {
  margin: 0 auto;
  max-width: 1200;
  padding-left: $gutter;
  padding-right: $gutter;
}





// TODO sækja allar sass skrár
@import "scss/header.scss";
@import "scss/footer.scss";